{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'query/style.css' %}" />
</head>

<body>
	<div style="width:800px; margin:0 auto; text-align: center;">
		<h1>The Hot Bat Fallacy</h1>
	</div>
	<div style="width:800px; margin:0 auto; text-align: center;">
    	<h2>Our Mission</h2>
	</div>
    <div style="width:800px; margin:0 auto;">
    	<p>
    		The Hot Bat Fallacy project attempts to use 
    		process-oriented data such as 
    		<a href="https://baseballsavant.mlb.com/statcast_search">Statcast</a> 
    		barrels and <a href="http://www.fangraphs.com/">FanGraphs</a> 
    		line-drive percentage to project future performance for MLB players. 
    		By using these measures instead of traditional results-oriented 
    		data such as batting average, we hope to create a simple model 
    		capable of projecting future performance more accurately than 
    		the famously simple-yet-effective 
    		<a href="http://m.mlb.com/glossary/projection-systems/marcel-the-monkey-forecasting-system">Marcel</a> 
    		forecasting system and more complex results-oriented projection 
    		systems such as 
    		<a href="http://m.mlb.com/glossary/projection-systems/steamer">Steamer</a>, 
    		<a href="http://m.mlb.com/glossary/projection-systems/szymborski-projection-system">ZiPS</a>, 
    		or <a href="http://m.mlb.com/glossary/projection-systems/player-empirical-comparison-and-optimization-test-algorithm">PECOTA</a>. 
    		<a href="http://127.0.0.1:8000/query/methodology/">See here for a full methodology</a>.
    	</p>
    	<p>
    		Please feel free to contact <a href="mailto:fgscivittaro@uchicago.edu">Federico</a>, <a href="mailto:fscivittaro42@uchicago.edu">Francesco</a>, or <a href="mailto:nsm@uchicago.edu">Nick</a> with any questions. Thank you, and welcome to the Hot Bat Fallacy!
    	</p>
	</div>
	<form method="get" action="" class="navbar-form pull-right">

		Player Name:
		<input type="text" id="searchBox" 
			class="input-medium search-query"
			name="q" 
			value="{{url_params.q}}"
		>

		<br>
		Season:
		<select name="year" class="table-lookup">
			<option value="" selected>All Years</option>
			{% for year in years %}
				<option value="{{ year }}"
					{% if year == url_params.year %}
						selected
					{% endif %} 
				>{{ year }}</option>
			{% endfor %}
		</select>
		
		<br>
		Team:
		<select name="team" class="table-lookup">
			<option value="" selected>All Teams</option>
			{% for name in team_names %}
				<option value="{{ name }}"
					{% if name == url_params.team %}
						selected
					{% endif %} 					
				>{{ name }}</option>
			{% endfor %}
		</select>


		<!-- <br>
		Age:
		<input type="digit" name="age_min"> 
		to 
		<input type="digit" name="age_max">  -->


		<br>
		Min PA:
		<select name="pa" class="table-lookup">
			<option value="" selected>None</option>
			{% for number in pa_range %}
				<option value="{{number}}"
				{% if number == url_params.pa %}
					selected
				{% endif %} 									
				>{{number}}</option>
			{% endfor %}
		</select>


		<!-- <br>
		Qualified:
		<select class="table-lookup">
			<option value="" selected>Either</option>
			<option value="No">No</option>
			<option value="Yes">Yes</option>
		</select>
		<br> -->
		<input type="submit" class="btn" value="Search" >

	</form>


	<div id="player-table" class="col-main">
		<div class="mod-content">
			<table class="tablehead" cellspacing="1" cellpadding="3" border="2">
				<tbody>
					<tr class="tableheader">
						<td colspan="20">Search Results:</td>
					</tr>
					<tr class="columnheaders" align="right">
						<td align="left">Name</td>
						<!-- <td align="left">Age</td> -->
						<td align="left">Team</td>
						<td align="left">Year</td>
						<td align="left">AVG</td>
						<td align="left">AB</td>
						<td align="left">PA</td>
						<!-- <td align="left">Player_id</td> -->
						<td align="left">Marcel wOBA</td>
						<td align="left">Our wOBA</td>
					</tr>
	<!-- 				<tr class="resultrow" align="right">
						<td align="left">Francisco Lindor</td>
						<td align="left">Indians</td>
						<td align="left">.375</td>
						<td align="left">.382</td>
					</tr>
					<tr class="resultrow" align="right">
						<td align="left">Edwin Encarnacion</td>
						<td align="left">Indians</td>
						<td align="left">.362</td>
						<td align="left">.371</td>
					</tr> -->
					{% if results %}
					    {% for stats in results %}
					    	<tr class="resultrow" align="right">
								<td align="left">{{ stats.name }}</td>
								<!-- <td align="left">{{ stats.marcel.age }}</td> -->
								<td align="left">{{ stats.team }}</td>
								<td align="left">{{ stats.year }}</td>
								<td align="left">{{ stats.avg }}</td>
								<td align="left">{{ stats.ab }}</td>
								<td align="left">{{ stats.pa }}</td>
								<!-- <td align="left">{{ stats.player_id }}</td> -->
								<td align="left">{{ stats.marcel.woba }}</td>
								<td align="left">{{ stats.regression.x_woba|floatformat }}</td>
								
							</tr>
					    {% endfor %}
					{% else %}
					    <p>No results.</p>
					{% endif %}

				</tbody>
			</table>
		</div>
	</div>

	<footer >
	</footer>

</html>