{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'query/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>

<!-- isiugdwweggwhgwjwqwefq -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>The Hot Bat Fallacy</h1>
                <h2>Our Mission</h2>
                <p>
                    The Hot Bat Fallacy project attempts to use 
                    process-oriented data such as 
                    <a href="https://baseballsavant.mlb.com/statcast_search">Statcast</a> 
                    barrels and <a href="http://www.fangraphs.com/">FanGraphs</a> 
                    line-drive percentage to project future performance for MLB players. 
                    By using these measures instead of traditional results-oriented 
                    data such as batting average, we hope to create a simple model 
                    capable of projecting future performance more accurately than 
                    the famously simple-yet-effective 
                    <a href="http://m.mlb.com/glossary/projection-systems/marcel-the-monkey-forecasting-system">Marcel</a> 
                    forecasting system and more complex results-oriented projection 
                    systems such as 
                    <a href="http://m.mlb.com/glossary/projection-systems/steamer">Steamer</a>, 
                    <a href="http://m.mlb.com/glossary/projection-systems/szymborski-projection-system">ZiPS</a>, 
                    or <a href="http://m.mlb.com/glossary/projection-systems/player-empirical-comparison-and-optimization-test-algorithm">PECOTA</a>. 
                    <a href="http://127.0.0.1:8000/query/methodology/">See here for a full methodology</a>.
                </p>
                <p>
                    Please feel free to contact <a href="mailto:fgscivittaro@uchicago.edu">Federico</a>, <a href="mailto:fscivittaro42@uchicago.edu">Francesco</a>, or <a href="mailto:nsm@uchicago.edu">Nick</a> with any questions. Thank you, and welcome to the Hot Bat Fallacy!
                </p>

                <form method="get" action="" class="">
                
                    Player Name:
                    <input type="text" id="searchBox" 
                        class="input-medium search-query"
                        name="q" 
                        value="{{url_params.q}}"
                    >

                    <br>
                    Sort By:
                    <select name="sort" class="table-lookup">
                        <option value="" selected></option>
                        {% for sort in sort_by %}
                            <option value="{{ sort }}"
                                {% if sort == url_params.sort %}
                                    selected
                                {% endif %} 
                            >{{ sort }}</option>
                        {% endfor %}
                    </select>

                    <br>
                    Season:
                    <select name="year" class="table-lookup">
                        <option value="" selected>All Years</option>
                        {% for year in years %}
                            <option value="{{ year }}"
                                {% if year == url_params.year %}
                                    selected
                                {% endif %} 
                            >{{ year }}</option>
                        {% endfor %}
                    </select>
                    
                    <br>
                    Team:
                    <select name="team" class="table-lookup">
                        <option value="" selected>All Teams</option>
                        {% for name in team_names %}
                            <option value="{{ name }}"
                                {% if name == url_params.team %}
                                    selected
                                {% endif %}                     
                            >{{ name }}</option>
                        {% endfor %}
                    </select>


                    <br>
                    Min wOBA
                    <select name="min_woba" class="table-lookup">
                        <option value="0" selected>0</option>
                        {% for woba in min_woba_values %}
                            <option value="{{ woba }}"
                                {% if woba == url_params.min_woba %}
                                    selected
                                {% endif %} 
                            >{{ woba }}</option>
                        {% endfor %}
                    </select>

                    <br>
                    Max wOBA
                    <select name="max_woba" class="table-lookup">
                        <option value="0.50" selected>0.50</option>
                        {% for woba in max_woba_values %}
                            <option value="{{ woba }}"
                                {% if woba == url_params.max_woba %}
                                    selected
                                {% endif %} 
                            >{{ woba }}</option>
                        {% endfor %}
                    </select>
                    <!-- <br>
                    Age:
                    <input type="digit" name="age_min"> 
                    to 
                    <input type="digit" name="age_max">  -->


                    <br>
                    Min PA:
                    <select name="pa" class="table-lookup">
                        <option value="" selected>None</option>
                        {% for number in pa_range %}
                            <option value="{{number}}"
                            {% if number == url_params.pa %}
                                selected
                            {% endif %}                                     
                            >{{number}}</option>
                        {% endfor %}
                    </select>

                    <br>
                    Position:
                    <select name="position" class="table-lookup">
                        <option value="" selected>All Teams</option>
                        {% for position in positions %}
                            <option value="{{ position }}"
                                {% if position == url_params.position %}
                                    selected
                                {% endif %}                     
                            >{{ position }}</option>
                        {% endfor %}
                    </select>

                    <br>
                    <!-- <br>
                    Qualified:
                    <select class="table-lookup">
                        <option value="" selected>Either</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                    <br> -->
                    <input type="submit" class="btn" value="Search" >

                    <br>
                    <small>
                        <a href="/query/">Clear Search</a>          
                    </small>
                </form>


                <div id="player-table" class="col-main">
                    <div class="mod-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="tableheader">
                                    <th colspan="20">Search Results:</th>
                                </tr>
                                <tr class="columnheaders" align="right">
                                    <th align="left">Name</th>
                                    <th align="left">Age</th>
                                    <th align="left">Team</th>
                                    <th align="left">Year</th>
                                    <th align="left">Position</th>
                                    <th align="left">AVG</th>
                                    <th align="left">AB</th>
                                    <th align="left">PA</th>
                                    <!-- <th align="left">Player_id</th> -->
                                    <th align="left">Projected Marcel wOBA</th>
                                    <th align="left">Our Projected wOBA</th>
                                </tr>
                            </thead>
                            </tbody>
                                {% if results %}
                                    {% for stats in results %}
                                        <tr class="resultrow" align="right">
                                            <td align="left">{{ stats.name }}</td>
                                            <td align="left">{{ stats.age }}</td>
                                            <td align="left">{{ stats.team }}</td>
                                            <td align="left">{{ stats.year }}</td>
                                            <td align="left">{{ stats.position }}</td>
                                            <td align="left">{{ stats.avg }}</td>
                                            <td align="left">{{ stats.ab }}</td>
                                            <td align="left">{{ stats.pa }}</td>
                                            <!-- <td align="left">{{ stats.player_id }}</td> -->
                                            <td align="left">{{ stats.woba }}</td>
                                            <td align="left">{{ stats.regression.x_woba }}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p>No results.</p>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>          
            </div>          
        </div>

    </div>

</html>